<div class="row">

    <div class="col-md-12">
      <div class="page-header">
        <h1>F.R.A.U.D.S. <small>Flights</small></h1>
      </div>
    </div>

    <div class="col-md-12">
      {{temp}}
    </div>

  </div>